
*{
    padding: 0;
    margin: 0;
}
.header{
   background-color: rgb(237, 102, 98); 
   width: 100%;
   height: 507px;
}
.main{
    background-color:black ;
    width: 100%;
    height: 740px;
}
.footer{
    background-color: aqua;
    width: 100%;
    height: 175px;
}
.card-header-pills{
    width: 100%;
    height: 19px;
    background-color: aliceblue;
}